# Control de Privacidad
/*
!.gitignore
!README.md
!/Practica/
/Practica/*
!/Practica/tp*/
/Practica/tp*/*
!/Practica/tp*/Entregas/
*.workspace
*[Aa]utosaved*.pdsprj
*Backup*.pdsprj
Debug/
Release/
*.o
*.d
*.obj
*.hex
*.eep
*.elf
*.lss
*.map
*.sym
*.srec
.vs/
.vscode/
*.user
*.suo
*.db
*.sdf
